{% load static %}

<!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <div class="logo me-auto">
        <h1><a href="index.html">My Restaurant</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          {% for t in todo_prod %}
            <li><a class="nav-link scrollto" href="#{{ t.categ.cat }}">{{ t.categ.cat }}</a></li>
{#          <li><a class="nav-link scrollto" href="#menu">Menu</a></li>#}
{#          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>#}
           {% endfor %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

{#      <a href="#book-a-table" class="book-a-table-btn scrollto">Book a table</a>#}
      <a href="#contact" class="book-a-table-btn scrollto">Contact</a>

    </div>
  </header><!-- End Header -->